body {
    font-family: Arial, sans-serif;
    background-color: #f5f3ec; 
    color: #3b2a1b; 
}

header {
    background-image: url('[url_imagen_fondo]'); 
    background-size: cover;
    padding: 100px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.navbar {
    margin-bottom: 20px;
}

.card {
    border: 1px solid #b8a59d; 
}

.card-title {
    color: #3b2a1b; 
}

.card-body {
    background-color: #e5d6c5; 
}

footer {
    background-color: #b59f85; 
    color: white;
}

h2 {
    margin-top: 50px;
    color: #3b2a1b;
}

.btn-dark {
    background-color: #5c4a3a; 
    border-color: #5c4a3a;
}

.btn-dark:hover {
    background-color: #7a5a46;
}

.productos-bg {
    background-image: url('../imagenes/fondoproductos.jpg');
    background-size: cover; 
    background-position: center; 
    padding: 50px 0; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.5); 
    
    }
    .contacto-bg {
        background-image: url('../imagenes/fondocontactos.webp'); 
        background-size: cover; 
        background-position: center; 
        padding: 50px 0; 
        color: white; 
        min-height: 400px; 
    }
    .info-bg {
        background-image: url('../imagenes/fondoinfo.jpg'); 
        background-size: cover; 
        background-position: center; 
        padding: 50px 0; 
        color: white; 
        min-height: 400px; 
    }
        .descripcion {
            color: black;
            font-family: Arial, sans-serif;
            font-size: 20px; 
            margin: 20px 0; 
    }
    .index-bg {
        background-image: url('../imagenes/fondoinicio.jpg'); 
        background-size: cover; 
        background-position: center; 
        min-height: 100vh; 
        color: white; 
        padding: 50px 0; 
    }
    